# Go build artifacts
/bin/
/obj/
/vendor/

# Go workspace files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build cache, and coverage profile
*.test
*.out
*.cov
*.prof

# IDEs and editors
# Visual Studio Code
.vscode/
*.code-workspace

# Sublime Text
*.sublime-project
*.sublime-workspace

# General
.DS_Store
Thumbs.db
*.log

# Local env files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore coverage files
coverage.out
coverage.html

# Ignore configuration files
config.yml
config.yaml

# Go Binary File
resume-backend

visits.db
